.mainDivSearchBar{
    display: inline-flex;
}

.input1 {
    color: white;
    background-color: #c43a3a;
    border-radius: 3vw 3vw 3vw 3vw;
    font-size: 2vw;
    width:35vw;
    height: 7vh;
    padding-left: 2vw;
    padding-right: 2vw;
    border: 0.15vw solid black;
}

.submit {
    margin-left: 0.2vw;
    border-radius: 2vw;
    font-size: 1.2vw ;
    cursor: pointer;
    appearance: none;
    width: 4vw;
    height: 7vh;
    background-color: #2FA7FB;
    border: 0.15vw solid black;
}
.submit:hover{
    color: white;
}
.input1:focus {
    border: 0.15vw solid white;
    outline: none;
}